// ▗▄▄▄▖▗▖  ▗▖▗▄▄▖ ▗▖ ▗▖▗▄▄▄▖
//   █  ▐▛▚▖▐▌▐▌ ▐▌▐▌ ▐▌  █
//   █  ▐▌ ▝▜▌▐▛▀▘ ▐▌ ▐▌  █
// ▗▄█▄▖▐▌  ▐▌▐▌   ▝▚▄▞▘  █

input {
  keyboard {
    // Key delay in millisecond and repeat rate in characters per second
    repeat-delay 200
    repeat-rate 55
  }

  touchpad {
    tap
    natural-scroll
    accel-speed 0.1
    scroll-factor 0.2
  }

  mouse {
    accel-speed 1.0
  }

  warp-mouse-to-focus mode="center-xy-always"

  // Focus windows and outputs automatically when moving the mouse into them
  // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen
  focus-follows-mouse max-scroll-amount="0%"
}

