// ▗▄▄▄▖▗▖  ▗▖▗▄▄▖ ▗▖ ▗▖▗▄▄▄▖
//   █  ▐▛▚▖▐▌▐▌ ▐▌▐▌ ▐▌  █
//   █  ▐▌ ▝▜▌▐▛▀▘ ▐▌ ▐▌  █
// ▗▄█▄▖▐▌  ▐▌▐▌   ▝▚▄▞▘  █

// https://niri-wm.github.io/niri/Configuration:-Input
input {
  keyboard {
    // An empty xkb section makes niri fetch settings from
    // org.freedesktop.locale1 (controlled with localectl).
    xkb {
    }

    // Enable numlock on startup; omitting this setting disables it.
    numlock

    repeat-delay 200
    repeat-rate 55
  }

  touchpad {
    tap
    natural-scroll
    accel-speed 0.6
  }

  mouse {
    accel-speed 0.6
  }

  // Focus windows and outputs automatically when moving the mouse into them.
  focus-follows-mouse
}
